
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');


body {
  font-family: 'Inconsolata', monospace;
  background-color: #ECF9FF;
}

.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BDCDD6;
}

.navbarNav {
  width: 100%;
  margin-top: 1rem;
  overflow-y: hidden;
}

.navbarListItems {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbarListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.exploreIcon {
  height: 36px;
  width: 36px;
  margin-bottom: 0;
}

.profileIcon {
  height: 36px;
  width: 36px;
  margin-bottom: 0;
}

.navbarIconName {
  margin-top: 0.25rem;
  color: #20262E;
}

.navbarIconNameActive {
  margin-top: 0.25rem;
  color: #0EA293;
}

.signInDiv {
  padding: 2rem;
  display: flex;
}

.nameInput {
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 75%;
}

.emailInput {
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 75%;
}

.passwordInput {
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 75%;
}

.signInInput {
  margin-left: 1rem;
  vertical-align: middle;
  width: 75%;
  border-radius: 5px;
  border: none;
  height: 36px;
}

.eyeIcon {
  vertical-align: middle;
  height: 36px;
  width: 36px;
  fill: #20262E;
  right: 2.5rem;
  position: relative;
  cursor: pointer;
}

.signInIcon {
  vertical-align: middle;
  height: 36px;
  width: 36px;
  fill: #20262E;
  cursor: pointer;
}

@media screen and (max-width: 550px){
  .signInIcon{
    fill: transparent;
  }
  .eyeIcon {
    fill: transparent;
  }
}

.signInHeader {
  margin-top: 3rem;
  margin-left: 3rem;
  color: #20262E;
}

.signInButtonDiv {
  display: flex;
  font-size: 36px;
  color: #20262E;
  padding: 3rem;
}

.signInButton {
  margin-left: 2rem;
  background-color: transparent;
  border: none;
  position: relative;
}

.signInArrow {
  vertical-align: middle;
  height: 36px;
  width: 36px;
  fill: #20262E;
  cursor: pointer;
}

.forgotPasswordLink {
  text-decoration: none;
  color: #20262E;
  margin-left: 3rem;
}

.orSignUp {
  display: flex;
  text-decoration: none;
  color: #20262E;
  margin-top: 3rem;
  justify-content: center;
}

/* Profile Page */

.profileHeader {
  margin: 2rem;
}

.profileInfoDiv {
  display: block;
}

.profileInfoDiv hr {
  margin-left: 2rem;
  margin-right: 2rem;
}

.profileName {
  display: flex;
  margin: 0.5rem;
  font-size: 24px;
  align-items: center;
  color: #20262E;
}

.profileEmail {
  display: flex;
  margin: 0.5rem;
  font-size: 24px;
  align-items: center;
  color: #20262E;
}

.userPetSaleDiv {
  margin-left: 2rem;
}

.userPetSaleDiv p {
  font-size: 20px;
  margin-top: 3rem;
}

.userPetSaleImgDiv {
  display: flex;
  align-items: center;
}

.userPetSaleImgDiv img {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 7px;
}

.userPetSaleImgDiv li {
  margin-left: 1rem;
  list-style: none;
}

.profileCreatePet{
  display: flex;
  margin-left: 3rem;
  margin-top: 4rem;
  font-size: 16px;
  align-items: center;
}

.createPetLink {
  text-decoration: none;
  background-color: #27E1C1;
  border: none;
  border-radius: 7px;
  padding: 5px;
  color: white;
}

.createPetLink:hover {
  background-color: #0EA293;
}

.createPetIcon {
  align-items: center;
  margin-right: 1rem;
  fill: #20262E;
}

.createPetIcon:hover {
  fill: #FF6D60;
}

.profileLogout {
  display: flex;
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: 24px;
  align-items: center;
  color: #20262E;
}

.logoutIcon {
  fill: #27E1C1;
  margin-left: 1rem;
}

.logoutIcon:hover {
  fill: #0EA293;
}

.profilePageIcon {
  height: 36px;
  width: 36px;
  margin-left: 2rem;
  margin-right: 2rem;
  fill: #20262E;
}

/* Forgot Password */

.passwordResetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.passwordResetDiv {
  text-align: center;
}

.passwordResetLink {
  margin-top: 20px;
  text-align: center;
}

.passwordResetInput {
  height: 36px;
  width: 30%;
  padding-right: 10px;
}

.passwordResetBtn {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  height: 36px;
  width: 36px;
}

.passwordResetIcon {
  height: 100%; 
  width: auto;
}

.passwordResetInputGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Explore page */

.exploreHeader {
  margin: 2rem 2rem 3rem 2rem;
  color: #20262E;
}

.categoryWrapper {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 300px 300px;
  justify-content: center;
}

.category {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.categoryImage {
  height: 200px;
  width: 320px;
  border: none;
  border-radius: 7px;
  margin: auto;
  cursor: pointer;
}

.categoryImage:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1100px){
  .categoryImage {
    display: none;
  }
}

.categoryLink {
  text-decoration: none;
  color: #20262E;
}

/* Category Page */

.categoryHeader {
  text-transform: capitalize;
  color: #20262E;
  margin: 2rem;
}

.petInfoWrapper {
  display: flex;
}

.petInfoImage {
  height: 300px;
  padding: 1rem;
}

.petInfoParagraph {
  margin: 1rem;
  color: #20262E;
}

.petInfoName {
  font-size: 30px;
  color: #20262E;
}

.petInfoGender {
  font-size: 20px;
  text-transform: capitalize;
}

.petInfoAge {
  font-size: 20px;
}

.petInfoPrice {
  font-size: 20px;
}

.petInfoLink {
  margin-left: 1rem;
}

.petInfoLink button {
  border: none;
  background-color: #98D8AA;
  border-radius: 7px;
  color: #088395;
  font-size: 24px;
  margin-top: 1.5rem;
  cursor: pointer;
}

.petInfoLink button:hover {
  background-color: #088395;
  color: #98D8AA;
}


/* Create pet page */

.formHeader {
  margin: 2rem;
  color: #A84448;
}

.formWrapper div {
  margin: 2rem;
}

.formGender {
  display: block;
}

.formType {
  display: block;
}

.formImageUpload {
  display: block;
}

.formBtn {
  font-size: 20px;
  margin-left: 4rem;
  border: none;
  border-radius: 7px;
  background-color: #98D8AA;
  color: #088395;
  cursor: pointer;
}

.formBtn:hover {
  background-color: #088395;
  color: #98D8AA;
}

/* Pet page */

.petHeader {
  margin: 2rem;
}

.petInfoWrapper {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 100%;
  justify-content: center;
}

.petDetailsWrapper {
  display: flex;
  flex-direction: column;
}

.petHeader {
  margin-left: 4rem;
  font-size: 36px;
}

.petDetails {
  margin-left: 5rem;
  font-size: 20px;
  text-transform: capitalize;
}

.contactOwnerDiv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.contactLink {
  text-decoration: none;
  background-color: #27E1C1;
  color: white;
  font-size: 24px;
  border-radius: 7px;
  padding: 5px;
}

.shareIconDiv {
  margin-left: 5rem;
  margin-top: 2rem;
  font-size: 36px;
  display: flex;
  align-items: center;
}

.shareIconDiv p {
  font-size: 24px;
  color: #27E1C1;
}

.shareIcon {
  fill: #27E1C1;
  cursor: pointer;
  margin-left: 0.75rem;
}

.shareIcon:hover {
  fill: #0EA293;
}

.linkCopiedText {
  background-color: #BDCDD6;
  margin: auto;
  border-radius: 7px;
  padding: 5px;
}

/* Contact page */

.contactHeader {
  margin: 2rem;
}

.contactOwnerName {
  margin: 2rem;
}

.contactMessage {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.contactMessage label textarea {
  display: block;
}

.contactOwnerBtn {
  border: none;
  border-radius: 7px;
  background-color: #27E1C1;
  cursor: pointer;
  color: white;
  font-size: 24px;
  margin-left: 2rem;
  margin-top: 2rem;
}