
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');


body {
  font-family: 'Inconsolata', monospace;
  background-color: #F3E99F;
}

.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #98D8AA;
}

.navbarNav {
  width: 100%;
  margin-top: 1rem;
  overflow-y: hidden;
}

.navbarListItems {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbarListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.exploreIcon {
  height: 36px;
  width: 36px;
  margin-bottom: 0;
}

.profileIcon {
  height: 36px;
  width: 36px;
  margin-bottom: 0;
}

.navbarIconName {
  margin-top: 0.25rem;
  color: #FF6D60;
}

.navbarIconNameActive {
  margin-top: 0.25rem;
  color: #A84448;
}

.signInDiv {
  padding: 2rem;
  display: flex;
}

.nameInput {
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 75%;
}

.emailInput {
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 75%;
}

.passwordInput {
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 75%;
}

.signInInput {
  margin-left: 1rem;
  vertical-align: middle;
  width: 75%;
  border-radius: 5px;
  border: none;
  height: 36px;
}

.eyeIcon {
  vertical-align: middle;
  height: 36px;
  width: 36px;
  fill: #FF6D60;
  right: 2.5rem;
  position: relative;
  cursor: pointer;
}

.signInIcon {
  vertical-align: middle;
  height: 36px;
  width: 36px;
  fill: #FF6D60;
  cursor: pointer;
}

@media screen and (max-width: 550px){
  .signInIcon{
    fill: transparent;
  }
  .eyeIcon {
    fill: transparent;
  }
}

.signInHeader {
  margin-top: 3rem;
  margin-left: 3rem;
  color: #FF6D60;
}

.signInButtonDiv {
  display: flex;
  font-size: 36px;
  color: #FF6D60;
  padding: 3rem;
}

.signInButton {
  margin-left: 2rem;
  background-color: transparent;
  border: none;
  position: relative;
}

.signInArrow {
  vertical-align: middle;
  height: 36px;
  width: 36px;
  fill: #FF6D60;
  cursor: pointer;
}

.forgotPasswordLink {
  text-decoration: none;
  color: #FF6D60;
  margin-left: 3rem;
}

.orSignUp {
  display: flex;
  text-decoration: none;
  color: #FF6D60;
  margin-top: 3rem;
  justify-content: center;
}

/* Profile Page */

.profileInfoDiv {
  display: block;
}

.profileName {
  display: flex;
  margin: 0.5rem;
  font-size: 24px;
  align-items: center;
  color: #FF6D60;
}

.profileEmail {
  display: flex;
  margin: 0.5rem;
  font-size: 24px;
  align-items: center;
  color: #FF6D60;
}

.profileLogout {
  display: flex;
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: 24px;
  align-items: center;
  color: #FF6D60;
}

.profilePageIcon {
  height: 36px;
  width: 36px;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Forgot Password */

/* .passwordResetDiv {
  margin: auto;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
}

.passwordResetLink {
  margin: auto;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
} */

.passwordResetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.passwordResetDiv {
  text-align: center;
}

.passwordResetLink {
  margin-top: 20px;
  text-align: center;
}

.passwordResetInput {
  height: 36px;
  width: 30%;
  padding-right: 10px;
}

.passwordResetBtn {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  height: 36px;
  width: 36px;
}

.passwordResetIcon {
  height: 100%; 
  width: auto;
}

.passwordResetInputGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}